<div class="container">

    <div class="col-sm-4 col-md-4 col-lg-4 mb-4"> 
        <label>Matieres</label> 
        <select class="form-control form-control-lg" id="idMatiere" name="idMatiere"
         [(ngModel)]="IdMatiere" (change)="onChange()">
          <option *ngFor="let matiere of matieres" value="{{matiere.id}}">
               {{matiere.name}} 
         </option>
    </select> 
   </div>

    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr> <th>Id</th><th>Titre</th> <th>Durée (heures)</th>  <th>Date de Création</th><th>Matière</th> </tr>
                </thead>
                <tbody *ngFor="let cours of courses">
                    <tr>
                        <td>{{cours.id}}</td>
                        <td>{{cours.title}}</td>
                        <td>{{cours.duration}}</td>
                        <td>{{cours.createdDate | date:'dd/MM/yyyy'}}</td>
                        <td>{{cours.matiere.name}}</td> 
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
