<div class="container">
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr> <th>Id</th><th>Titre</th> <th>content</th> <th>Durée (Minutes)</th> <th>Video URL</th> <th>Date de Création</th><th>Matière</th> </tr>
                </thead>
                <tbody *ngFor="let cours of courses">
                    <tr>
                        <td>{{cours.id}}</td>
                        <td>{{cours.title}}</td>
                        <td>{{cours.content}}</td>
                        <td>{{cours.duration}}</td>
                        <td>{{cours.videoUrl}}</td>
                        <td>{{cours.createdDate | date:'dd/MM/yyyy'}}</td>
                        <td>{{cours.matiere.name}}</td> 
                        <td><a *ngIf="authService.isAdmin()"
                             class="btn btn-danger" (click)="supprimerCours(cours)">Supprimer</a></td>
                        <td><a *ngIf="authService.isAdmin()"
                             class="btn btn-success" [routerLink]="['/updateCours',cours.id]">Modifier</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
