<div class="container">
    <div>
        <h2>Ajouter un Cours :</h2>
    </div>
    <form>
        <div hidden class="col-sm-2 col-md-2 col-lg-2">
            <label>ID Cours</label>
            <input type="text" [(ngModel)]="newCours.id" name="idCours" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Titre du Cours</label>
            <input type="text" [(ngModel)]="newCours.title" name="title" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Contenu du Cours</label>
            <textarea [(ngModel)]="newCours.content" name="content" class="form-control"></textarea>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>Durée (en heures)</label>
            <input type="number" [(ngModel)]="newCours.duration" name="duration" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Date de Création</label>
            <input type="date" [(ngModel)]="newCours.createdDate" name="createdDate" class="form-control">
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Matière</label>
            <select class="form-control form-control-lg" id="idMatiere" name="idMatiere" [(ngModel)]="newIdMatiere">
                <option *ngFor="let matiere of matieres" [value]="matiere.id">
                    {{matiere.name}}
                </option>
            </select>
        </div> 
        <div class="mt-2">
            <button type="submit" (click)="addCours()" class="btn btn-success">Ajouter</button>
        </div>
    </form>
</div>
