<div class="container">
    <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
      <app-update-matiere [matiere]="updatedMatiere" [ajout]="ajout" (matiereUpdated)="matiereUpdated($event)"></app-update-matiere>
    </div>
  
    <div class="card shadow mb-4" *ngFor="let matiere of matieres">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2">Id: {{matiere.id}}</div>
          <div class="col-md-2">Code: {{matiere.code}}</div>
          <div class="col-md-3">Nom: {{matiere.name}}</div>
          <div class="col-md-3">Description: {{matiere.description}}</div>
          <div class="col-md-2">Enseignant: {{matiere.teacherName}}</div>
          <div class="col-md-2">
            <button class="btn btn-success" (click)="updateMatiere(matiere)">Editer</button>
          </div>
        </div>
      </div>
    </div>
  </div>